* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 h2 h3 h4 h5 p {
  margin: 0 auto;
  padding: 0; 
} 

/* header  */
header {
  padding: 20px 0;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu{
  display: none;
}

input[type='checkbox']{
  display: none !important;
}

.main-header__brand {
  width: 41px;
  height: 41px;
}

.trafalga {
  padding-right: 600px;
  color: #233348;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  outline-color: red;
}

#active {
  opacity: 1;
}

.nav-list-item {
  position: relative;
}

.nav-list-item a {
  display: flex;  
  padding: 20px 0;
  text-decoration: none;
  font-family: Mulish, sans-serif;
  color: #1f1534;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.dropdown{
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 2s ease-in-out; 
}

.nav-list-item a:hover ~ .dropdown{
  display: block;



}

.nav-list-item a:hover {
  opacity: 1;
  transition: all  2s;
}

.nav-list-item a:active {
  background-color: yellow;
}

/* Hero Styles */
.hero {
  margin-bottom: 169px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-info {
  padding-top: 30px;
}

.hero-title {
  color: #000;
  font-size: 48px;
  font-weight: 0;
  line-height: 56px;
}

.hero-description {
  color: #7d7987;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}

.hero-btn {
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 55px;
  background-color: #458ff6;
  color: #fff;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: white;
  border: 1px solid #4089ed;
  color: #4089ed;
}

.hero-btn:active {
  background-color: yellow;
}

.hero-image {
  max-width: 650px;
}
/* /Hero Styles */

/* Our Services Styles */
.service {
  margin-bottom: 200px;
}

.service-title {
  text-align: center;
  color: #000;
  font-family: Muli;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; 
}

.service-description {
  margin-bottom: 100px;
  color: #7d7987;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  width: calc((100% - 40px) / 3);
  padding: 48px 38px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  border: 1px solid rgba(229, 233, 246, 0.4);
  transition: transform 0.4s ease-in-out;
  text-align: center;
}

.service-item:hover{
  border: 1px solid rgb(60, 52, 52);
  transform: translateY(-10px);
}

.service-item-title {
  margin-bottom: 35px;
  color: #7d7987;
  font-family: Mulish,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.service-btn-box {
  margin-top: 69px;
  text-align: center;
}

.service-btn {
  border-radius: 55px;
  background-color: white;
  color: #458ff6;
  border: 1.4px solid #458ff6;
  width: 200px;
  height: 56px;
  cursor: pointer;
}
/* /Our Services Styles */

/* Leading Styles */
.leading {
  margin-bottom: 200px;

}

.leading-info {
  display: flex;
  justify-content: space-between;
  column-gap: 142px;
}

.providers-data {
  display: inline-block;
  font-weight: 300;
  line-height: 30px;
}

.leading-heading {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}

.leading-data {
  color: #7d7987;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.leading-hr {
  display: inline-block;
  width: 56px;
  height: 1px;
}

.leading-btn {
  border-radius: 55px;
  background-color: white;
  color: #458ff6;
  border: 1.4px solid #458ff6;
  width: 200px;
  height: 56px;
  cursor: pointer;
}
/* /leading style */

/* download section */
.download-info {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}

.download-paragraph {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.download-data {
  color: #7d7987;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.download-button {
  margin-top: 69px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 55px;
  background-color: white;
  color: #458ff6;
  border: 1.4px solid #458ff6;
  width: 200px;
  height: 56px;
}
/* /download section */

/*our-customer */
.customer {
  margin-bottom: 10px;
}

.customer-info {
  width: 100%;
  padding: 64px 118px 89px;
  border-radius: 24px;
  background: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
}

.customer-title {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.customer-border {
  margin-top: 0;
  margin-bottom: 77px;
  width: 56px;
  height: 2px;
}

.customer-client {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 30px;
}

.costumer-contact {
  display: flex;
  align-items:center;
  gap: 29px;
}

.customer-name {
  color: #fff;
}

.customer-prgph {
  max-width: 420px;
  color: #fff;
}
/* /our-customer */

/* arrow-line */
.arrow-line {
  margin-bottom: 150px;
  width: 100%;
  display: inline-block;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
}

.line {
  text-align: left;
}
/* /arrow-line */

/* check-section */
.check-section {
  margin-bottom: 200px;
}

.check-data {
  margin-bottom: 72px;
}

.check-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 69px;
}

.check-title {
  width: 340px;
  height: 512px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);

}

.check-body {
  padding: 21px 50px 35px 33px;
}

.check-heading {
  margin-bottom: 12px;
  color: #000;
  font-family: Muli;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.check-paragrapg {
  color: #7D7987;
  font-family: Muli;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; 
}

.check-a {
  color: #4089ED;
  font-family: Muli;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

.check-hr {
  margin-bottom: 20px;
  width: 56px;
  height: 2px;
}

.check-heading {
  margin: 0;
}

.check-btn-box {
  text-align: center;
}

.check-btn {
  border-radius: 55px;
  background-color: rgb(28, 8, 248);
  color: #ffffff;
  border:none;
  width: 200px;
  height: 56px;
  cursor: pointer;
}

.check-btn:hover {
  background-color:#1f1534;
  transition: all .3s ease-in-out;
}

/* /check-section */

/* Footer */
.footer {
  padding: 100px 0;
  background-color: #458ff6;
  color: #fff;
}

.footer-content {
  display: flex;
  column-gap: 100px;
}

.footer-info {
  max-width: 390px;
}

.footer-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nested-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nested-item:not(:first-child) {
  margin-top: 10px;
}
/* /Footer */


